.Leer {
  font-family: sans-serif;
  text-align: center;
}

.flipbook {
  /* border: 1px solid pink; */
  position: relative;
  width: 100%; /* Ajusta el ancho si es necesario */
  height: 100vh; /* Esto toma el 100% del viewport height (alto de la pantalla) */
  display: grid;
  place-items: center;
}

.page {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.flipbook-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prev-button,
.next-button {
  top: 50%;
  transform: translateY(-50%);
}


.prev-button {
  left: 10px; /* Ajusta la posici贸n del bot贸n izquierdo */
}

.next-button {
  right: 10px; /* Ajusta la posici贸n del bot贸n derecho */
}

