.Leer {
  font-family: sans-serif;
  text-align: center;
}

.flipbook {
  /* border: 1px solid pink; */
  position: relative;
  width: 100%; /* Ajusta el ancho si es necesario */
  height: 100vh; /* Esto toma el 100% del viewport height (alto de la pantalla) */
  display: grid;
  place-items: center;
}

.page {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Añadir overflow: hidden para evitar que las imágenes se desborden */
  padding: 0; /* Asegúrate de que no haya ningún relleno que afecte las dimensiones */
  margin: 0; /* Asegúrate de que no haya márgenes que afecten las dimensiones */
}


.full-image {
  width: 100%;
  height: 100%;
}

.page img {
  width: 100%; /* Ajusta el ancho de la página */
  height: 100%; /* Ajusta la altura de la página */
}

.flipbook-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prev-button,
.next-button {
  top: 50%;
  transform: translateY(-50%);
  color:white ;
}

.next-button:hover{
  color: blue !important;
}

.prev-button {
  left: 10px; /* Ajusta la posición del botón izquierdo */
}

.next-button {
  right: 10px; /* Ajusta la posición del botón derecho */
}
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0px; /* Ajusta el espaciado si es necesario */
}

/* Estilos para los botones */
.control-button {
  margin: 0 100px;
  font-size: 55px; /* Tamaño de los botones */
  color: #ffffff; /* Color del botón */
  align-items: center; /* Alinear verticalmente al centro */
  justify-content: space-between; /* Espacio entre el ícono y el texto */
  text-align: left; /* Asegura que el texto se alinee a la izquierda */
}

/* Estilos para el texto al lado del ícono */
.control-button span {
  font-size: 16px; /* Tamaño del texto */
  display: inline-flex; /* Hacer que el texto esté en línea con el ícono */
  text-align: center; /* Alinea el texto a la derecha */
  gap: 5px; /* Ajusta el espacio entre el ícono y el texto */
}

/* Cambiar el tamaño del select */
.form-select {
  font-size: 16px; /* Cambiar el tamaño del texto dentro del select */
  width: 200px; /* Ancho del select */
  height: 40px; /* Altura del select */
  margin: 0 auto; /* Centrar el select horizontalmente */
}

.select-page{
  margin-top: 0%;
  align-items: center;
  display: flex; 
}

.numero-page{
  margin: 0 auto;
  color: #ffffff;
}

.badge {
  margin-left: 5px; /* Ajustar el espacio entre el texto y el badge */
}

/* En tu hoja de estilos (puede ser un archivo CSS externo) */
.centered-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

