.TabB {
    text-align: center;
    margin-left: 60px;
  }
  
  .TabB-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .TabB-logo {
      animation: TabB-logo-spin infinite 20s linear;
    }
  }
  
  .TabB-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .TabB-link {
    color: #61dafb;
  }
  
  @keyframes TabB-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .baseTab{
    border-left: 1px solid #e9ecef !important;
    cursor: pointer;
  }
  
  .baseTab:hover{
    background-color: black !important;
    color: white !important;
  }
  
  .activeTab{
    background-color: black !important;
    color: white !important;
  }