:root {
  --verdesito: rgb(99, 99, 99);
  --celestito: rgb(0, 85, 124);
  --rojito: #ff0000;
  --rojofuerte: rgb(158, 0, 0);
  --azulito:  rgb(148, 184, 215);
 
}
body {
  margin: 0;
  background-image: url(src/Imagenes/Fondo.jpeg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.form-group {
  display: grid;
  margin-bottom: 10px;
  flex-direction: column;
}

.form-control {
  background-color: lightgray;
}

label {
  font-weight: bold;
  margin-right: 10px;
  text-align: justify;
  color: #0e0d0d;
}

button {
  background-color: var(--verdesito);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  /* margin-right: 80px; */
}

.contenedor-icono a {
  font-size: 30px;
  color: rgb(1, 162, 28);
}

.image-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px;
}

.select-image-button {
  width: 300px; 
  margin-top: 10px;
  background-color: var(--celestito) !important;
  color: white !important; 
}

.select-image-button:hover {
  width: 300px; 
  margin-top: 10px;
  background-color: var(--azulito) !important;
  color: white !important; 
}

.custom-button {
  background-color: var(--celestito) !important; 
  color: white !important; 

}

/*.formRegister{
  width: 500px;
  margin-top: 20px;
  background-color:#393a3b;
  padding: 10px;
  border-radius: 2%;
  border-style: dotted;
  border-color: #fff;
}*/

.container{
  margin-top: 2%;
}

.custom-btn-color {
  background-color: var(--celestito); 
  color: #ffffff; 
}

.custom-btn-color:hover {
  background-color: var(--azulito); 
  color: #ffffff; 

}

.Warning-btn-color {
  background-color: var(--rojito); 
  color: #ffffff; 
}

.Warning-btn-color:hover {
  background-color: var(--rojofuerte); 
  color: #ffffff; 

}

.icono:hover {
  color: var(--rojito);
}

.boton-toggle:hover {
  background-color: var(--rojito);
}

.imagen-previa {
  max-width: 300px; 
  max-height: 470px; 
  object-fit: cover;
  aspect-ratio: 293/470;
}

.mi-color {
  background-color: rgb(39, 107, 170); 
  
}

.btn-registro{
  background-color: var(--celestito);
  color: #fff;
}

.btn-inicio{
  background-color: var(--celestito);
  color: #fff;
}

.btn-registro:hover{
  background-color: var(--azulito); 
  color: #fff;
}

.btn-inicio:hover{
 background-color: var(--azulito); 
 color: #fff;
}

/*registro*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: -100px;
}

.form {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: -50px; 
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: var(--celestito);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--azulito);
}

/* Estilo para el campo de contraseña */
.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

@font-face {
  font-family: badabb;
  src: url(/ComickBook_Simple.ttf);
}
.badabb{
  font-family: badabb;
  color: #153f59; -webkit-text-stroke: 2px white;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("./Comic_Sans_MS.woff") format("woff");
}


/*imagen del registro*/
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  visibility: visible;
}

.error-message.hidden {
  visibility: hidden;
}
/* Agrega este estilo para el modal */
.custom-modal {
  max-height: 80vh;
}

/* Agrega este estilo para la lista de playlists */
.playlist-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Agrega este estilo para cada elemento de la lista */
.playlist-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Línea de separación entre elementos */
}

/* Agrega este estilo para la imagen de la playlist */
.playlist-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Agrega este estilo para el título de la playlist */
.playlist-title {
  flex-grow: 1; /* Hace que el título ocupe todo el espacio restante */
}

.TabB {
    text-align: center;
    margin-left: 60px;
  }
  
  .TabB-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .TabB-logo {
      animation: TabB-logo-spin infinite 20s linear;
    }
  }
  
  .TabB-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .TabB-link {
    color: #61dafb;
  }
  
  @keyframes TabB-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .baseTab{
    border-left: 1px solid #e9ecef !important;
    cursor: pointer;
  }
  
  .baseTab:hover{
    background-color: black !important;
    color: white !important;
  }
  
  .activeTab{
    background-color: black !important;
    color: white !important;
  }